*{
font-family: 'Droid Sans', sans-serif;
}

.contenedor{
  border: 1px solid black;
  width: 600px;
  height: 300px;
  position: relative;
  margin-bottom: 30px;
}

.cuadrado{
  width: 100px;
  height: 100px;
}
/*primera parte*/
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
